<!DOCTYPE html>
<html>
<head>
    <title>My Web App</title>
</head>
<body>
    <h1>Welcome to my web app!</h1>

<br>
<br>
    <h1>Winter is Coming</h1>
    <img src="C:\Users\3rd Year Account\Desktop\Luna-022317\public\img/winteriscoming.jpg" width ="250" height="400"  />
 <br>
 <br>
 <br>
      <h1>Red woman</h1>
      <img src="C:\Users\3rd Year Account\Desktop\Luna-022317\public\img/redwoman.jpg" width ="250" height="400"  />
 <br>
 <br>
 <br>
 <h1>The north remembers</h1>
       <img src="C:\Users\3rd Year Account\Desktop\Luna-022317\public\img/thenorthremembers.jpg" width ="200" height="400"  />
 
 <br>
 <br>
 <br>
 <h1>The wars to come</h1>
        <img src="C:\Users\3rd Year Account\Desktop\Luna-022317\public\img/thewarstocome.jpg" width ="250" height="400"  />

 <br>
 <br>
 <br>
 <h1>Twos words</h1>
         <img src="C:\Users\3rd Year Account\Desktop\Luna-022317\public\img/twoswords.jpg" width ="250" height="400"  />
 <br>
 <br>
 <br>
 <h1>Welcome to my web app!</h1>
          <img src="C:\Users\3rd Year Account\Desktop\Luna-022317\public\img/valar.jpg" width ="250" height="400"  />
    <br>
    <a href="/">Home</a> |
    <a href="/about">About</a> 
</body>
</html>